:root {
    --site-background-color: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --selected-text-color: #ffffff;
    --primary-background-color: #2196F3;
    --secondary-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --address-text-color: #ffffff;
    --secondary-address-text-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--site-background-color);
    letter-spacing: 0.03em;
}

.no-mark {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Header */
.site-nav, .header-addresses {
    font-size: 14px;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.02em;
}

.page-header .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 119%;
}

.page-header .logo>span {
    color: var(--primary-background-color);
}

.page-header .link {
    color: var(--primary-text-color);
}

.header-addresses .link {
    color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.header-addresses .link:hover,
.header-addresses .link:focus {
    color: var(--primary-background-color);
}

/* Buttons */

.button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
}

.button:hover,
.button:focus {
    color: var(--selected-text-color);
    background-color: var(--primary-background-color);
}

/* Main section */

.examples .link{
    color: inherit;
}

.example h2  {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
}

.example p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 188%;
}

.examples > li:hover {
    transform: scale(1.05);
}

/* Footer */

.page-footer {
    background-color: var(--footer-background-color);
}

address .link {
    color: var(--address-text-color);
    font-size: 14px;
    line-height: 171%;
}

.link.secondary {
    color: var(--secondary-address-text-color);
}
address .link:hover,
address .link:focus,
address .link.secondary:hover,
address .link.secondary:focus {
    color: var(--primary-background-color);
}

.page-footer .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 119%;
    color: var(--address-text-color);
}

.page-footer .logo>span {
    color: var(--primary-background-color);
}